body {
  margin: 0;
  height: 100%;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}
canvas {
  width: 100%;
  height: 100%;
}

/* Start menu */
@import url('https://fonts.googleapis.com/css?family=Barlow');

@font-face {
  font-family: overwatch;
  src: url(https://us.battle.net/forums/static/fonts/f014015d/f014015d.woff);
}

@font-face {
  font-family: overwatch-italic;
  src: url(https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff);
}

* {
  cursor: url(https://cdn.discordapp.com/attachments/303406782104207362/315839175406649345/Overwatch.cur), auto;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#menu {
	background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: overwatch-italic;
}
.container {
	width: 100%;
	position: relative;
	overflow: hidden;
}
a {
	text-decoration: none;
	height: fit-content;
}
h1.main, p.demos {
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s;
}
.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.sp-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.sp-container h2 {
	position: absolute;
	top: 50%;
	line-height: 100px;
	height: 90px;
	margin-top: -50px;
	font-size: 180px;
	width: 100%;
	text-align: center;
	color: transparent;
	-webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}
.sp-container h2.frame-1 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
.sp-container h2.frame-2 {
  position: absolute;
  top: 10%;
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	color: transparent;
  text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-2 span {
	-webkit-animation: blurFadeIn 3s ease-in 2s backwards;
	-moz-animation: blurFadeIn 1s ease-in 2s backwards;
	-ms-animation: blurFadeIn 3s ease-in 2s backwards;
	animation: blurFadeIn 3s ease-in 2s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
}
.sp-container h2.frame-2 span:nth-child(2) {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.sp-container h2.frame-2 span:nth-child(3) {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
 #btn-group{
  position: relative;
  top: 8%;
} 

.sp-globe {
	position: absolute;
	width: 282px;
	height: 273px;
	left: 50%;
	top: 50%;
	margin: -137px 0 0 -141px;
	background: transparent url(http://web-sonick.zz.mu/images/sl/globe.png) no-repeat top left;
	-webkit-animation: fadeInBack 3.6s linear 4s backwards;
	-moz-animation: fadeInBack 3.6s linear 4s backwards;
	-ms-animation: fadeInBack 3.6s linear 4s backwards;
	animation: fadeInBack 3.6s linear 4s backwards;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	-webkit-transform: scale(5);
	-moz-transform: scale(5);
	-o-transform: scale(5);
	-ms-transform: scale(5);
	transform: scale(5);
}
.sp-circle-link {
	position: absolute;
	left: 50%;
	bottom: 100px;
	margin-left: -50px;
	text-align: center;
	line-height: 100px;
	width: 100px;
	height: 100px;
	background: #fff;
	color: #3f1616;
	font-size: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: fadeInRotate 1s linear 6s backwards;
	-moz-animation: fadeInRotate 1s linear 6s backwards;
	-ms-animation: fadeInRotate 1s linear 6s backwards;
	animation: fadeInRotate 1s linear 6s backwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
.sp-circle-link:hover {
	background: #85373b;
	color: #fff;
}


/* Menu buttons */
.italic {
	text-align: center;
	position: relative;
	top: 0%;
    left: 0%;
    font-family: overwatch-italic;
    font-size: 60px;
    color: #fff;
    text-shadow: 0px 0px 3px #cecece;
    transform-origin: bottom;
	transition: all .05s ease-in;
	
	-webkit-animation: blurFadeIn 1s linear 6s backwards;
	-moz-animation: blurFadeIn 1s linear 6s backwards;
	-ms-animation: blurFadeIn 1s linear 6s backwards;
	animation: blurFadeIn 1s linear 6s backwards;
  }
  
  .italic.highlight {
    color: #f3c026;
    text-shadow: 0px 0px 5px #bb7e29;
  }

.scenario {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.eButton {
	/* position: absolute;
	top: 50%; */
	font-size: 30px;
	background-color: transparent;
	color: black;
}

#vehicle {
	position: relative;
	top: 30px;
}

.vButton {
  font-size: 30px;
  background-color: transparent;
  color: black;
}

button:hover {
	background-color: red;
}

#scenarioBtn button {
	width: 200px;
	height: 200px;
}

#vehicleBtn button {
	position: relative;
	top: 30px;
	width: 150px;
	height: 150px;
	/* background-image: url('');
	background-repeat: no-repeat;
	background-position: center center; */
}

 #tutorialBtn {
	position: relative;
	top: 80px;
}

#startBtn {
	position: relative;
	top: 80px;
	font-size: 100px;

	-webkit-animation: blurFadeIn 1s linear 0s backwards;
	-moz-animation: blurFadeIn 1s linear 0s backwards;
	-ms-animation: blurFadeIn 1s linear 0s backwards;
	animation: blurFadeIn 1s linear 0s backwards;
}

/* #highwayBtn {
	width: 250px;
	height: 250px;
	background-color: #FF0000;
	background-image: url('');
	background-repeat: no-repeat;
	background-position: center center;
}

#countryBtn {
	width: 250px;
	height: 250px;
	background-color: #FF0000;
	background-image: url('');
	background-repeat: no-repeat;
	background-position: center center;
}

#forestBtn {
	width: 250px;
	height: 250px;
	background-color: #FF0000;
	background-image: url('');
	background-repeat: no-repeat;
	background-position: center center;
}
 */

#charBtn {
	width: 250px;
	height: 250px;
	background-color: #FF0000;
	background-image: url('/src/sounds/head.png');
	background-repeat: no-repeat;
	background-position: center center;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  background-color: rgba(255, 255, 255, 0.74);
  font-family: 'Electrolize', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  color: rgb(0, 0, 0);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/**/

/* @keyframes moving {
  from  {transform: translateY(0px);}
  to    {transform: translateY(-200px);}
} */

@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}
@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}
@-webkit-keyframes fadeInBack {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}
@-webkit-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack {
	0% {
		opacity: 0;
		-moz-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

/* Loading phase */
#loadingBar {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}

#loadingText {
  font-family: overwatch-italic;
  font-size: 25px;
  display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.wavy{
	position: relative;
	-webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.wavy span{
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 5em;
	text-transform: uppercase;
	animation: animate 1s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
	0%        { transform: translateY(0px);   }
	20%       { transform: translateY(-50px); }
	40%,100%  { transform: translateY(0px);   }
}

.progress {
  width: 50vw;
  border: 1px solid black;
}

.progress-bg {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

#progressbar {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /*-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.hide {
  display: none;
}

#canvas {
  z-index : 0;
}

#score {
  font-family: overwatch-italic;
  font-size: 30px;
  color: #000;
  position: absolute;
  top: 2%;
  left: 48%;
  z-index : 1;
}

/* On screens that are 1024px or less */
@media screen and (max-width: 1024px) {
  #score {
    color: #000;
    position: absolute;
    top: 2%;
    left: 46%;
    z-index : 1;
  }
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  #score {
    color: #000;
    position: absolute;
    top: 2%;
    left: 45%;
    z-index : 1;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  #score {
    color: #000;
    position: absolute;
    top: 2%;
    left: 40%;
    z-index : 1;
  }
}

#speedometer {
  font-family: overwatch-italic;
  font-size: 30px;
  color: #ffffff;
  background-color: #990000;
  position: absolute;
  bottom: 1%;
  left: 1%;
  z-index: 1;
}

#finalscore {
	position: absolute;
    padding-top: 15%;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-family: overwatch-italic;
	font-size: 100px;
	
	transition: all .05s ease-in;
	
	-webkit-animation: blurFadeIn 1s linear 0.5s backwards;
	-moz-animation: blurFadeIn 1s linear 0.5s backwards;
	-ms-animation: blurFadeIn 1s linear 0.5s backwards;
	animation: blurFadeIn 1s linear 0.5s backwards;
}

#highscore {
	position: absolute;
    padding-top: 22%;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-family: overwatch-italic;
	font-size: 100px;
	
	transition: all .05s ease-in;
	
	-webkit-animation: blurFadeIn 1s linear 0.5s backwards;
	-moz-animation: blurFadeIn 1s linear 0.5s backwards;
	-ms-animation: blurFadeIn 1s linear 0.5s backwards;
	animation: blurFadeIn 1s linear 0.5s backwards;
}


/* Game Over and Pause phases */
#gameover, #pause {
	position: absolute;
    padding-top: 2%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    color: red;
    font-family: overwatch-italic;
	font-size: 200px;
	
	transition: all .05s ease-in;
	
	-webkit-animation: blurFadeIn 1s linear 0s backwards;
	-moz-animation: blurFadeIn 1s linear 0s backwards;
	-ms-animation: blurFadeIn 1s linear 0s backwards;
	animation: blurFadeIn 1s linear 0s backwards;
}

#resume {
	position: absolute;
    padding-top: 27%;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-family: overwatch-italic;
	font-size: 100px;
	
	transition: all .05s ease-in;
	
	-webkit-animation: blurFadeIn 1s linear 0.5s backwards;
	-moz-animation: blurFadeIn 1s linear 0.5s backwards;
	-ms-animation: blurFadeIn 1s linear 0.5s backwards;
	animation: blurFadeIn 1s linear 0.5s backwards;
}

#restart {
	position: absolute;
    padding-top: 35%;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-family: overwatch-italic;
	font-size: 100px;
	
	transition: all .05s ease-in;
	
	-webkit-animation: blurFadeIn 1s linear 0.5s backwards;
	-moz-animation: blurFadeIn 1s linear 0.5s backwards;
	-ms-animation: blurFadeIn 1s linear 0.5s backwards;
	animation: blurFadeIn 1s linear 0.5s backwards;
}

#mainmenu {
	position: absolute;
    padding-top: 43%;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-family: overwatch-italic;
	font-size: 100px;
	
	transition: all .05s ease-in;
	
	-webkit-animation: blurFadeIn 1s linear 0.5s backwards;
	-moz-animation: blurFadeIn 1s linear 0.5s backwards;
	-ms-animation: blurFadeIn 1s linear 0.5s backwards;
	animation: blurFadeIn 1s linear 0.5s backwards;
}

/* Import from Bootstrap */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* Import from previous theme */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #4aca85;
  color: #fff;
  border: 1px solid #4aca85; }
  .btn-primary:hover/*, .btn-primary:focus, .btn-primary:active*/ {
    background: #7bed9f /*#5ed092*/ !important;
    border-color: #7bed9f /*#5ed092*/ !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #4aca85;
    border: 1px solid #4aca85; }
  .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #4aca85;
    color: #fff; }

/* My addition */
.btn-secondary {
  background: #3498db;
  color: #fff;
  border: 1px solid #3498db; }
  .btn-secondary:hover/*, .btn-secondary:focus, .btn-secondary:active*/ {
    background: #74b9ff !important;
    border-color: #74b9ff !important; }
  .btn-secondary.btn-outline {
    background: transparent;
    color: #3498db;
    border: 1px solid #3498db; }
  .btn-secondary.btn-outline:hover, .btn-secondary.btn-outline:focus, .btn-secondary.btn-outline:active {
    background: #3498db;
    color: #fff; }

.btn-custom {
  font-size: 16px;
  text-decoration: none; /* My addition */
}

.btn-lg > .btn {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}
